/*font*/

@font-face {
    font-family: Coda-ExtraBold;
    src: url(../fonts/Coda-ExtraBold.ttf);
}
*{
    font-family: 'Caveat', cursive;
font-family: 'Geologica', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Coda-ExtraBold;
}
/* body */
body{
    margin:0;
}
.uni-padding{
    padding: 0 7%;
    
}
/*top bar*/





#topbar{
    background-color: #576574;
    padding-top:12px;
    padding-bottom: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#tolfree{
    color: #fdfdfd;
    margin:0;
}
.fa-brands {
    background-color:#fdfdfd;
    color:#576574;
    padding:7px;
    border-radius: 50%;

}
.fa-facebook{
    padding:7px 9px;
}
.fa-linkedin-in{
    padding:7px 10px;
}
.fa-whatsapp{
    padding:7px 9px;
}
.fa-instagram{
    padding:7px 10px;
}


/* LOGO */
#logo-bar{
    background-color: #ddd;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
#logo-bar img{
    width:80px;
    margin:20px 0px;
}

#nav-bar-list{
    list-style-type: none;
    display: flex;
   gap:2rem;
   align-items: center;

}
#nav-bar-list ul{
    margin:0;
    padding:0;
}
 ul li a{
    text-decoration: none;
    
    font-size: 18px;
    color:black;
}
/* nav bar end */

/* career page start */
.carrer-page{
    height:500px;
   
}

p{
    text-align:center;
    color:#222f3e;
}

#para1{
    font-size:30px;
    font-weight: bold;  
}
#para2{
    font-size:20px;
}
.career-img{
    background-image: url(../images/career.jpg);
    background-color:white;
    height:300px;
    background-size: 300px 300px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.required::after{
    content:'*';
    color:red;
}
.required{
   font-weight: bold;
  font-size: 1rem;

}
.file-submit{
   display:flex;
   flex-direction: column;
   gap:15px;
   justify-content: start;
   align-items: start;
    
}
.carrer-form-contain{
    padding-top:40px;
    padding-bottom: 30px;
    display:flex;
  
    justify-content: center;
    align-items:center;
}
.career-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:15px;
    
}

.impt{
    width:400px;
    height:30px;
    color:#666;
    cursor: pointer;
}
.submit-button{
    cursor: pointer;
    width:100px;
   
}




/* career page end */









/* contact page start */
.contact-img{
  background-image: url(../images/contacts.jpg);
  height:500px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
   
}
.contactContainer{
   
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color:cadetblue;
    background-size:100% 100%;
    
    
}
#contact-heading{
    color:burlywood;
    font-size: 2rem;
   font-weight: bold;
   margin-bottom: 20px;
 
}

.contact-form hr
{
    border:none;
    width:120px;
    height:5px;
    background-color:burlywood;
    border-radius:10px;
    margin-bottom: 20px;
}

.input-form{
    display:flex;
    flex-direction: column;
    gap:30px;

}
.contact-inputs{
    width:400px;
    height:50px;
    border:none;
    outline: none;
    padding-left: 20px;
    font-weight: 500px;
    background-color: azure;
    color:#666;
    border-radius: 50px;
   
}

.input-form textarea{
  height:140px; 
  padding-top:15px;
  border-radius:20px; 

}
.contact-inputs:focus{
    border:2px solid burlywood;
}
.contact-inputs::placeholder{
    color:#a9a9a9;
}
.contact-submit{
    padding:15px;
    font-size:16px;
    color:#fff;
    border:none;
    border-radius: 50px;
    background:linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
    width:150px;
    margin-bottom: 50px;
}

/* contact page end */









/* footer */
#imp-link{
    background-color: #576574;
    color:white;
    display:flex;
    justify-content: space-between;
}
.div33{
    width:33.33%;
    padding:25px 0px;
    box-sizing: border-box;

}

#about img{
    width:80px;
}


.div33 h3{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: normal;
}
#footer-menu{
    list-style-type: none;
    padding:0px;
}
#footer-menu  li{
    padding-bottom: 10px;

}
#footer-menu  li a{
    text-decoration: none;
    color:azure;
}
/* #contact-menu{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    gap:2rem;
} */
#contact-menu-bar{
    display:flex;
    
}
#contact-menu-bar ul li{
    list-style-type: none;
   margin-bottom: 20px;
   
}

.fa-solid{
   color: aquamarine;
  
}

#copyright{
    background-color: #222f3e;
    text-align:center;
    color:#cbcbcb;
    padding:10px;
   
}
#copyright a{
    text-decoration: none;
    color:purple;
    transition: all 2s linear;
}



#copyright a:hover{
    color:green;
}













